<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script type="text/javascript" src="controllers/datastore.js"></script>

<div id="choose-game-app">
  <select v-model="selectedGame">
    <option v-bind:value="game" v-for="game in games">{{ game.name }}</option>
  </select>
  <button v-on:click="load(selectedGame)">Go</button>
</div>


<script type="text/javascript">
  var data = {
    games: [],
    selectedGame: null
  };

  var vueApp = new Vue({
    el: "#choose-game-app",
    methods: {
      load(game) {
        window.location = `/?gameId=${game.gameId}`
      }
    },
    data,
  });
 
  getGist(`all-games.json`)
    .then(games => {
      data.games = games;
    })
</script>