<script type="text/javascript" src="drawing.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="canvasInteraction.js"></script>
<script type="text/javascript" src="scoreDisplay.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/460/fabric.min.js" integrity="sha512-ybPp3kCrNQXdvTfh99YLIdnajWnQvHuEKDJ+b26mxI9w+pLhnBo3HmNLJ1pEUBFO1Q0bfJxApeqecNbmaV763g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="style.css" />

<div style="float: left;">
  <canvas id="c" width=800 height=1000></canvas>
</div>
<div style="float: left;">
  <div id="scores">
    <span class="clickable" v-on:click="hideAllArrows()">hide all</span> |
    <span class="clickable" v-on:click="showAllArrows()">show all</span>
    <div id="player-list">
      <h3>Players</h3>
      <table>
        <tr class="turnover-button">
          <td v-on:click="convertScoreToTurnover()">TURNOVER</td>
        </tr>
        <tr class="score-button">
          <td v-on:click="convertScoreToScore()">SCORE</td>
        </tr>
        <tr v-for="player in players" class="player">
          <td v-on:click="addToScore(player)">{{ player.name }}</td>
        </tr>
      </table>
    </div>
    <div id="score-list">
      <h3>Scores</h3>
      <table>
        <tr>
          <td>#</td>
          <td>From</td>
          <td>To</td>
          <td></td>
          <td></td>
        </tr>
        <tr
          class="score-row"
          v-on:mouseover="preHighlightScore(score)"
          v-on:mouseout="unPreHighlightScore(score)"
          v-bind:class="{
            highlight: scoreHighlighted == score,
            prehighlight: preHighlightedScore == score,
            score: !score.isTurnover,
            turnover: score.isTurnover
          }"
          v-for="(score, index) in scores">
          <td>{{ score.sequence }}</td>
          <td
            v-bind:class="{ isBeingEdited: isBeingEditedFrom(score) }"
            v-on:click="beginEditingScoreFrom(score)">{{ score.from.name }}</td>
          <td
            v-bind:class="{ isBeingEdited: isBeingEditedTo(score) }"
            v-on:click="beginEditingScoreTo(score)">{{ score.to.name }}</td>

          <td
            v-if="isBeingEditedFrom(score) || isBeingEditedTo(score) || isBeingDeleted(score)"
            class="clickable"
            v-on:click="cancelEditing(score)">cancel</td>
          <td
            v-if="isBeingEditedFrom(score) || isBeingEditedTo(score)"
            class="clickable"
            v-on:click="preDeleteScore(score)">delete</td>
          <td
            v-if="isBeingDeleted(score)"
            >are you sure?
            <span
              class="clickable"
              v-on:click="deleteScore(score)">yes</span>
          </td>
          <td
            v-if="!(isBeingEditedFrom(score) || isBeingEditedTo(score))"></td>
        </tr>
      </table>
    </div>
    <div id="stat-list">
      <h3>Stats</h3>
      <table>
        <tr>
          <td>Name</td>
          <td class="clickable" v-on:click="sortStatsBy('assists')">Assists</td>
          <td class="clickable" v-on:click="sortStatsBy('goals')">Goals</td>
          <td class="clickable" v-on:click="sortStatsBy('turnovers')">Turnovers</td>
        </tr>
        <tr v-for="row in totals">
          <td>{{ row.player.name }}</td>
          <td>{{ row.assists }}</td>
          <td>{{ row.goals }}</td>
          <td>{{ row.turnovers }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
  var canvas = new fabric.Canvas('c', {
  });
  setupLineDrawing();
  setupScoreboard();
  drawField();
</script>
