table { border: 1px solid #dedede; border-collapse: collapse; }
table td { border: 1px solid #dedede; padding: 5px; }

td.isBeingEdited { background: greenyellow; }

tr.player td:hover { background: greenyellow; cursor: pointer; }
tr.score-row td:hover { cursor: pointer; }

.clickable { cursor: pointer; color: blue; text-decoration: underline; }